{% extends "base.html" %}

{% block main %}
<div class="conteiner">
    <h1>Cadastro de Clientes</h1>
    <form  method="post">
        {{ form.csrf_token }}
        <div class='div-r-75'>
            {{ form.nome(placeholder='.') }}
            {{ form.nome.label }}
        </div>
        <div class='div-r-75'>
            {{ form.email(placeholder='.') }}
            {{ form.email.label }}
        </div>
        <div class='div-r-75'>
            {{ form.telefone(placeholder='.') }}
            {{ form.telefone.label }}
        </div>
        <div class='span-2 div-col-1'>
            {{ form.end_rua(placeholder='.') }}
            {{ form.end_rua.label }}
        </div>
        <div class='div-r-25'>
            {{ form.end_numero(placeholder='.') }}
            {{ form.end_numero.label }}
        </div>
        <div class='div-col-1'>
            {{ form.end_bairro(placeholder='.') }}
            {{ form.end_bairro.label }}
        </div>
        <div class='div-r-25'>
            {{ form.end_cidade(placeholder='.') }}
            {{ form.end_cidade.label }}
        </div>
        <div class='div-r-25'>
            {{ form.end_estado(placeholder='.') }}
            {{ form.end_estado.label }}
        </div>
        <div class="div-col-1">{{ form.submit }}</div>
    </form>
</div>
{% endblock %}