{% extends "base.html" %} {% block main %}
<div class="conteiner">
    <h1>{% if current_user.is_authenticated %}{{ current_user.user.title() }}. {% endif %}Seja Bem Vindo ao My food.</h1>
</div>

<div class="conteiner-body" id="conteiner-body">
  <div class="conteiner conteiner-float" id="conteiner-float">
    <div class="div-col-4" id="fechar-login" onclick="LoginConteinerF()">
      <a href="#">X</a>
    </div>
    <div class="div-col-4 span-4"><h1>Login</h1></div>
    <form class="div-col-4 span-4" method="post">
      {{ form.csrf_token }}
      <div class="div-col-1 span-4">
        {{ form.user(placeholder='.') }} {{ form.user.label }}
      </div>
      <div class="div-col-1 span-4">
        {{ form.senha(placeholder='.') }} {{ form.senha.label }}
      </div>
      <div class="div-col-1 span-4">
        {{ form.submit }}
        <a href="{{ url_for('cadastrar_empresa') }}">Cadastre-se</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
