{% extends "base.html" %} {% block main %}
<div class="conteiner">
  <h1>Novo Produro</h1>
  <form method="post">
    {{ form.csrf_token }}
    <div class="div-r-75">{{ form.nome(placeholder='.') }} {{ form.nome.label }}</div>
    <div class="div-r-75">{{ form.descricao(placeholder='.') }} {{ form.descricao.label }}</div>
    <div class="div-r-75">{{ form.valor(placeholder='.') }} {{ form.valor.label }}</div>
    <div class="span-2 div-col-1">{{ form.estoque(placeholder='.') }} {{ form.estoque.label }}</div>
    <div class="div-r-25">{{ form.quantidade(placeholder='.') }} {{ form.quantidade.label }}</div>
    <div class="div-col-1">{{ form.submit }}</div>
  </form>
</div>
{% endblock %}
