{% extends "base.html" %} {% block main %}
<div class="conteiner">
  <h1 class="div-col-1">Produtos</h1>
  <a href="{{ url_for('novo_produto') }}" 
  class="div-col-3"><input  id="submit" value="Novo Produto" /></a>
  {% if id %}
  <a href="{{ url_for('cart', id=id ) }}" 
  class="div-col-4"><input  id="submit" value="Carrinho" /></a>
  {% endif %}


  <div class="conteiner-produtos div-col-1 span-4 mt-15">
      {% for produto in produtos %}
      <div class="produto">
        <p><strong>Nome:</strong> {{ produto.nome }}</p>
        <p><strong>Decrição:</strong> {{ produto.descricao }}</p>
        <p><strong>Valor:</strong> {{ produto.valor }}</p>
        {% if produto.quantidade != none %}
        <p><strong>Quantidade:</strong> {{ produto.quantidade }}</p>
        {% endif %}
        {% if id %}
        <p><a href="{{ url_for('addcarinho', id=id, produto_id=produto.id) }}">
          <i class="material-icons icon">add_shopping_cart</i
          ></a></p>
        {% endif %}
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
